h1{
    font-size: 60px;
    background-color: #f24343;
    color: beige;
    text-align: center;
    font-family: "arial", "open sans", sans-serif;
}

h2{
    font-size: 40px;
    font-family: "arial", "open sans", sans-serif;
}
